[submodule "3rdparty/Megatron-LM-workspace/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = ssh://git@gitlab-master.nvidia.com:12051/yubog/megatron-lm.git
	branch = yifu/mbridge/nm6_training_sep_2025/seqpack
	shallow = true
[submodule "3rdparty/Megatron-Bridge-workspace/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = ssh://git@gitlab-master.nvidia.com:12051/yubog/Megatron-Bridge.git
	branch = yifu/nano-v3
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = nemo-rl-submodule
	shallow = true
